{% load static %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>ProUI - Responsive Bootstrap Admin Template</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <link rel="shortcut icon" href="{% static 'bayi/img/favicon.png ' %}">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon57.png ' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon72.png ' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon76.png ' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon114.png ' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon120.png ' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon144.png ' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon152.png ' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon180.png ' %}" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{% static 'bayi/css/bootstrap.min.css ' %}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'bayi/css/plugins.css ' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'bayi/css/main.css ' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'bayi/themes.css ' %}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'bayi/js/vendor/modernizr.min.js' %}"></script>
    </head>


    <body>
    {% block body %}


    {% endblock %}

        <!-- END User Settings -->
        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'bayi/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'bayi/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'bayi/js/plugins.js' %}"></script>
        <script src="{% static 'bayi/js/app.js' %}"></script>

        <!-- Google Maps API Key (you will have to obtain a Google Maps API key to use Google Maps) -->
        <!-- For more info please have a look at https://developers.google.com/maps/documentation/javascript/get-api-key#key -->
        <script src="https://maps.googleapis.com/maps/api/js?key="></script>
        <script src="{% static 'bayi/js/helpers/gmaps.min.js' %}"></script>
                <script src="{% static 'js/helpers/ckeditor/ckeditor.js' %}"></script>
        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'bayi/js/pages/index.js' %}"></script>
        <script>$(function(){ Index.init(); });</script>
    </body>
</html>