{% load static %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="tr"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="tr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Liftistan</title>

        <meta name="description" content="Liftistan.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <link rel="shortcut icon" href="{% static 'bayi/img/favicon.png ' %}">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon57.png ' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon72.png ' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon76.png ' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon114.png ' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon120.png ' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon144.png ' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon152.png ' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon180.png ' %}" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{% static 'bayi/css/bootstrap.min.css ' %}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'bayi/css/plugins.css ' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'bayi/css/main.css ' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'bayi/themes.css ' %}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'bayi/js/vendor/modernizr.min.js' %}"></script>
    </head>

   <div id="page-wrapper">
            <!-- Preloader -->
            <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
            <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
            <div class="preloader themed-background">
                <h1 class="push-top-bottom text-light text-center"><strong>LİFTİSTAN</strong></h1>
                <div class="inner">
                    <h3 class="text-light visible-lt-ie10"><strong>YÜKLENİYOR..</strong></h3>
                    <div class="preloader-spinner hidden-lt-ie10"></div>
                </div>
            </div>

            <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
                <!-- Alternative Sidebar -->
                <div id="sidebar-alt">
                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-alt-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Chat -->
                            <!-- Chat demo functionality initialized in js/app.js -> chatUi() -->
                            <a href="" class="sidebar-title">
                                <strong>{{ user.username }} Sepeti</strong>
                            </a>
                            <!-- Chat Users -->


                            {% for siparis in siparis %}
                          {% for urun in urunler %}


                              {% if siparis.bayi_id == user.id %}
                                  {% if siparis.urun_id == urun.id %}
                                      {% if siparis.STATUS == '0' %}
                            <ul class="sepet" style="padding: 0">
                                <br>
                                <center><img src="{{ urun.urun_resim.url }}" width="100" height="50"></center>

  <li class="list-group-item list-group-item-success">{{ urun.urun_adi }},{{ siparis.adet }}</li>
                                <a href ="{% url 'delete' siparis.id %}" >sil</a>



                            </ul>

                                {% endif %}
                                      {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}


                            <center><button type="button" class="btn btn-info" onclick="window.location.href='../bayi/siparis_detay'">Ödeme yap</button>





                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                </div>


                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Brand -->
                            <a href="../bayi/bayi_detay" class="sidebar-brand">
<img src=" {% static 'bayi/img/logoliftistan.jpg' %}" height="40" width="170">

                            </a>
                            <!-- END Brand -->

                            <!-- User Info -->
                            <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                                <div class="sidebar-user-avatar">
                                    <a href="page_ready_user_profile.html">
                                        <img src="{% static '/bayi/img/placeholders/avatars/avatar2.jpg' %}" alt="avatar">
                                    </a>
                                </div>
                                <div class="sidebar-user-name">Admin</div>
                                <div class="sidebar-user-links">
                                    <a href="../bayi/bayi_detay" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
                                    <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
                                    <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                    <a href="../logout/ " data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                                </div>
                            </div>
                            <!-- END User Info -->

                            <!-- Theme Colors -->
                            <!-- Change Color Theme functionality can be found in js/app.js - templateOptions() -->


                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="../bayi/bayi_detay"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Profilim</span></a>
                                </li>
                                 <li>
                                    <a href="../bayi/profil_duzenle"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Profilimi Düzenle</span></a>
                                </li>

                                <li class="active">
                                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-shopping_cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Ticaret Paneli</span></a>
                                    <ul>

                                        <li>
                                            <a href="../bayi/urunler" >Ürün Seç</a>
                                        </li>
                                        <li>
                                            <a href="../bayi/urunlerim">Ürünlerim</a>
                                        </li>

                                        <li>
                                            <a href="../bayi/bakim">Periyodik Bakımlar</a>
                                        </li>
                                        <li>
                                            <a href="../bayi/siparis">Siparişlerim</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-header">
                                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a><a href="javascript:void(0)" data-toggle="tooltip" title="Create the most amazing pages with the widget kit!"><i class="gi gi-lightbulb"></i></a></span>
                                    <span class="sidebar-header-title">Ekstra</span>
                                </li>
                                <li>
                                    <a href="page_widgets_stats.html"><i class="gi gi-hospital sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Yardım</span></a>
                                </li>
                                <li>
                                    <a href="page_widgets_social.html"><i class="gi gi-share_alt sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sosyal Medya</span></a>
                                </li>
                                <li>
                                    <a href="page_widgets_media.html"><i class="gi gi-chat sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Chat</span></a>
                                </li>
                                <li>
                                    <a href="page_widgets_links.html"><i class="gi gi-message_empty sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">İletişim</span></a>
                                </li>


                            <!-- END Sidebar Notifications -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <!-- Header -->
                    <!-- In the PHP version you can set the following options from inc/config file -->
                    <!--
                        Available header.navbar classes:

                        'navbar-default'            for the default light header
                        'navbar-inverse'            for an alternative dark header

                        'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                            'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                        'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                            'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                    -->
                    <header class="navbar navbar-default">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">
                            <!-- Main Sidebar Toggle Button -->
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                    <i class="fa fa-bars fa-fw"></i>
                                </a>
                            </li>

                        </ul>
                        <!-- END Left Header Navigation -->

                        <!-- Search Form
                        <form action="page_ready_search_results.html" method="post" class="navbar-form-custom">
                            <div class="form-group">
                                <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                            </div>
                        </form>
                        END Search Form -->

                        <!-- Right Header Navigation -->
                        <ul class="nav navbar-nav-custom pull-right">
                            <!-- Alternative Sidebar Toggle Button -->
                            <li>
                                <!-- If you do not want the main sidebar to open when the alternative sidebar is closed, just remove the second parameter: App.sidebar('toggle-sidebar-alt'); -->
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');this.blur();">
                                    <i class="fa fa-shopping-basket"></i>
                                    <span class="label label-primary label-indicator animation-floating"></span>
                                </a>
                            </li>
                            <!-- END Alternative Sidebar Toggle Button -->

      <!-- User Dropdown -->
                            <li class="dropdown">
                            {% if user.id is not None %}
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{%  static 'bayi/img/placeholders/avatars/avatar2.jpg' %}" alt="avatar"> <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                    <li class="dropdown-header text-center">{{ user.username }}</li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="../bayi/bayi_detay">
                                            <i class="fa fa-user fa-fw pull-right"></i>
                                            Profil
                                        </a>
                                        <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->

                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="../logout/"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                                    </li>
                            {% else %}
                                <li class="divider"></li>
                                    <li>
                                        <a href="login.html"><i class="fa fa-fw pull-right"></i> Giriş yap</a>
                                    </li>
                            {% endif %}



                                </ul>
                            </li>
                            <!-- END User Dropdown -->
                        </ul>
                        <!-- END Right Header Navigation -->
                        </ul>
                        <!-- END Right Header Navigation -->
                    </header>
                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- eCommerce Orders Header -->


    <body>


    {% block body %}


    {% endblock %}

        <!-- END User Settings -->
        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'bayi/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'bayi/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'bayi/js/plugins.js' %}"></script>
        <script src="{% static 'bayi/js/app.js' %}"></script>

        <!-- Google Maps API Key (you will have to obtain a Google Maps API key to use Google Maps) -->
        <!-- For more info please have a look at https://developers.google.com/maps/documentation/javascript/get-api-key#key -->
        <script src="https://maps.googleapis.com/maps/api/js?key="></script>
        <script src="{% static 'bayi/js/helpers/gmaps.min.js' %}"></script>
                <script src="{% static 'js/helpers/ckeditor/ckeditor.js' %}"></script>
        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'bayi/js/pages/index.js' %}"></script>
        <script>$(function(){ Index.init(); });</script>

    </body>

</html>
