
{% extends 'bayi/base.html' %}

{% block body %}
{% load static %}
        <!-- Page Wrapper -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!--
            Available classes:

            'page-loading'      enables page preloader
        -->

                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- eCommerce Customer Header -->

                        <!-- END eCommerce Customer Header -->

                        <!-- Customer Content -->
                        <div class="row">
                            <div class="col-lg-4">
                                <!-- Customer Info Block -->
                                <div class="block">
                                    <!-- Customer Info Title -->
                                    <div class="block-title">
                                        <h2><i class="fa fa-file-o"></i><strong>Bayi Detay</strong></h2>
                                    </div>
                                    <!-- END Customer Info Title -->

                                    <!-- Customer Info -->
                                    <div class="block-section text-center">
                                        <a href="javascript:void(0)">
                                            <img src="img/placeholders/avatars/avatar4@2x.jpg" alt="avatar" class="img-circle">
                                        </a>
                                        <h3>
                                            <strong>{{user.username}}</strong><br><small></small>
                                        </h3>
                                    </div>
                                    <table class="table table-borderless table-striped table-vcenter">
                                        <tbody>
                                            <tr>
                                                <td class="text-right" style="width: 50%;"><strong>İsim</strong></td>
                                                <td>{{ user.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Soyad</strong></td>
                                                <td>{{ user.last_name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Son Giriş</strong></td>
                                                <td>{{ user.last_login }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Katılma Tarihi</strong></td>
                                                <td>{{ user.date_joined }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Mail</strong></td>
                                                <td>{{ user.email }}</td>
                                            </tr>

                                            <tr>
                                                <td class="text-right"><strong>Status</strong></td>
                                                <td><span class="label label-success"><i class="fa fa-check"></i> Active</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END Customer Info -->
                                </div>
                                <!-- END Customer Info Block -->
                                 <div class="block">
                                    <!-- Quick Stats Title -->
                                    <div class="block-title">
                                        <h2><i class="fa fa-line-chart"></i> <strong>İstatistikler</strong> </h2>
                                    </div>
                                    <!-- END Quick Stats Title -->


                                    <!-- Quick Stats Content -->
                                    <a href="javascript:void(0)" class="widget widget-hover-effect2 themed-background-muted-light">
                                        <div class="widget-simple">
                                            <div class="widget-icon pull-right themed-background">
                                                <i class="fa fa-truck"></i>
                                            </div>
                                            <h4 class="text-left">
                                                <strong>{{ a }}</strong><br><small>Siparişler Toplamı</small>
                                            </h4>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="widget widget-hover-effect2 themed-background-muted-light">
                                        <div class="widget-simple">
                                            <div class="widget-icon pull-right themed-background-success">
                                                <i class="fa fa-usd"></i>
                                            </div>
                                            <h4 class="text-left text-success">
                                                <strong>$ 2.125,00</strong><br><small>Satış Geliri</small>
                                            </h4>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="widget widget-hover-effect2 themed-background-muted-light">
                                        <div class="widget-simple">
                                            <div class="widget-icon pull-right themed-background-warning">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                            <h4 class="text-left text-warning">
                                                <strong>3</strong> ($ 517,00)<br><small>Alış Gideri</small>
                                            </h4>
                                        </div>
                                    </a>
                                
                                    <!-- END Quick Stats Content -->
                                </div>


                                <!-- END Quick Stats Block -->
                            </div>
                            <div class="col-lg-8">
                                <!-- Orders Block -->
                                <div class="block">
                                    <!-- Orders Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <span class="label label-success"><strong>$ 2125,00</strong></span>
                                        </div>
                                        <h2><i class="fa fa-truck"></i> <strong>Müşterilerden Gelen Siparişler</strong> (4)</h2>
                                    </div>
                                    <!-- END Orders Title -->

                                    <!-- Orders Content -->
                                    <table class="table table-bordered table-striped table-vcenter">
                                        <tbody>
                                            <tr>
                                                <td class="text-center" style="width: 100px;"><a href="page_ecom_order_view.html"><strong>Restfull</strong></a></td>
                                                <td class="hidden-xs" style="width: 15%;"><a href="javascript:void(0)">Api'den</a></td>
                                                <td class="text-right hidden-xs" style="width: 10%;"><strong>Gelen </strong></td>
                                                <td><span class="label label-warning">Müşteriler</span></td>
                                                <td class="hidden-xs">burada</td>
                                                <td class="hidden-xs text-center">listelenecek</td>
                                                <td class="text-center" style="width: 70px;">
                                                    <div class="btn-group btn-group-xs">
                                                        <a href="page_ecom_order_view.html" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="View"><i class="fa fa-eye"></i></a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- END Orders Content -->
                                </div>
                                <!-- END Orders Block -->

                                <!-- Products in Cart Block -->

                                <!-- END Products in Cart Block -->

                                <!-- Customer Addresses Block -->
                                <div class="block">
                                    <!-- Customer Addresses Title -->
                                    <div class="block-title">
                                        <h2><i class="fa fa-building-o"></i> <strong>Adreslerim</strong> </h2>
                                    </div>
                                    <!-- END Customer Addresses Title -->

                                    <!-- Customer Addresses Content -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Billing Address Block -->
                                            <div class="block">
                                                <!-- Billing Address Title -->
                                                <div class="block-title">
                                                        <h2>Bayi Adresi</h2>
                                                </div>
                                                <!-- END Billing Address Title -->

                                                {% for bayi in bayiler %}
                                                   {% if user == bayi.bayis %}
                                                <h4><strong>Bayi Adresi</strong></h4>
                                                <address>
                                                    {{bayi.adres}}<br>
                                                    <i class="fa fa-phone"></i> {{ bayi.telefon }}<br>
                                                    <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">{{ user.email }}</a>
                                                </address>
                                              <!-- END Billing Address Content -->
                                               {% endif %}
                                                {% endfor %}
                                            </div>
                                            <!-- END Billing Address Block -->
                                        </div>

                                    </div>
                                    <!-- END Customer Addresses Content -->
                                </div>
                                <!-- END Customer Addresses Block -->



                                <!-- Private Notes Block -->

                                <!-- END Private Notes Block -->
                            </div>
                        </div>
                        <!-- END Customer Content -->
                    </div>
                    <!-- END Page Content -->

                    <!-- Footer -->

                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
        <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                <legend>Vital Info</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Admin</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                                    <div class="col-md-8">
                                        <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
                                    <div class="col-md-8">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Password Update</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->
                </div>
            </div>
        </div>
        <!-- END User Settings -->
{% endblock %}