
{% extends 'bayi/base.html' %}

{% block body %}
{% load static %}
        <!-- Page Wrapper -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!--
            Available classes:

            'page-loading'      enables page preloader
        -->

                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- Invoice Header -->

                        <!-- END Invoice Header -->

                        <!-- Invoice Block -->
                        <div class="block full">
                            <!-- Invoice Title -->
                            <div class="block-title">
                                <div class="block-options pull-right">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="New invoice"><i class="fa fa-plus"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Delete invoice"><i class="fa fa-times"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" onclick="App.pagePrint();"><i class="fa fa-print"></i> Print</a>
                                </div>
                                <h2><strong></strong></h2>
                            </div>
                            <!-- END Invoice Title -->

                            <!-- Invoice Content -->
                            <!-- 2 Column grid -->
                            <div class="row block-section">
                                <!-- Company Info -->
                                <div class="col-sm-6">
                                    <img src="img/placeholders/avatars/avatar10.jpg" alt="photo" class="img-circle">
                                    <hr>
                                    <h2><strong>Company Inc.</strong></h2>
                                    <address>
                                        Address<br>
                                        Town/City<br>
                                        Region, Zip/Postal Code<br><br>
                                        <i class="fa fa-phone"></i> (000) 000-0000<br>
                                        <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">example@example.com</a>
                                    </address>
                                </div>
                                <!-- END Company Info -->

                                <!-- Client Info -->
                                <div class="col-sm-6 text-right">
                                    <img src="img/placeholders/avatars/avatar7.jpg" alt="photo" class="img-circle">
                                    <hr>
                                    <h2><strong>Client</strong></h2>
                                    <address>
                                        Address<br>
                                        Town/City<br>
                                        Region, Zip/Postal Code<br><br>
                                        (000) 000-0000 <i class="fa fa-phone"></i><br>
                                        <a href="javascript:void(0)">example@example.com</a> <i class="fa fa-envelope-o"></i>
                                    </address>
                                </div>
                                <!-- END Client Info -->
                            </div>
                            <!-- END 2 Column grid -->

                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table table-vcenter">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="width: 60%;">Ürün</th>
                                            <th class="text-center">Adet</th>
                                            <th class="text-center">Fiyat</th>
                                            <th class="text-right">Toplam</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>
                                                <h4>Logo Design</h4>
                                                <span class="label label-info"><i class="fa fa-clock-o"></i> 3 weeks</span>
                                                <span class="label label-info">4 Revisions Available</span>
                                            </td>
                                            <td class="text-center"><strong>x <span class="badge">1</span></strong></td>
                                            <td class="text-center"><strong>$ 1.000</strong></td>
                                            <td class="text-right"><span class="label label-primary">$ 1.000</span></td>
                                        </tr>

                                        <tr class="active">
                                            <td colspan="4" class="text-right"><span class="h4">SUBTOTAL</span></td>
                                            <td class="text-right"><span class="h4">$ 23.000</span></td>
                                        </tr>
                                        <tr class="active">
                                            <td colspan="4" class="text-right"><span class="h4">VAT RATE</span></td>
                                            <td class="text-right"><span class="h4">25%</span></td>
                                        </tr>
                                        <tr class="active">
                                            <td colspan="4" class="text-right"><span class="h4">VAT DUE</span></td>
                                            <td class="text-right"><span class="h4">$ 5.750</span></td>
                                        </tr>
                                        <tr class="active">
                                            <td colspan="4" class="text-right"><span class="h3"><strong>TOTAL DUE</strong></span></td>
                                            <td class="text-right"><span class="h3"><strong>$ 28.750</strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END Table -->

                            <div class="clearfix">
                                <div class="btn-group pull-right">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-print"></i> Save</a>
                                    <a href="javascript:void(0)" class="btn btn-primary"><i class="fa fa-angle-right"></i> Send Invoice</a>
                                </div>
                            </div>
                            <!-- END Invoice Content -->
                        </div>
                        <!-- END Invoice Block -->
                    </div>
                    <!-- END Page Content -->

                    <!-- Footer -->
                    <footer class="clearfix">
                        <div class="pull-right">
                            Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://1.envato.market/ydb" target="_blank">pixelcave</a>
                        </div>
                        <div class="pull-left">
                            <span id="year-copy"></span> &copy; <a href="https://1.envato.market/x4R" target="_blank">ProUI 3.8</a>
                        </div>
                    </footer>
                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
        <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                <legend>Vital Info</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Admin</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                                    <div class="col-md-8">
                                        <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
                                    <div class="col-md-8">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Password Update</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->
                </div>
            </div>
        </div>
        <!-- END User Settings -->
        {% endblock %}