
{% extends 'bayi/base.html' %}

{% block body %}
{% load static %}

     <div class="row text-center">

    <div class="block full">
                            <!-- All Orders Title -->
                            <div class="block-title">
                                <div class="block-options pull-right">

                                </div>
                                <h2><strong>Tüm</strong> Siparişler</h2>
                            </div>
                            <!-- END All Orders Title -->

                            <!-- All Orders Content -->
                            <table id="ecom-orders" class="table table-bordered table-striped table-vcenter">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 100px;">ID</th>

                                        <th class="text-center visible-lg">Ürün ID</th>
                                        <th class="hidden-xs">Ödeme Yöntemi</th>
                                        <th class="text-right hidden-xs">Değer</th>
                                        <th>Durum</th>
                                        <th class="hidden-xs text-center">Tarih</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for siparis in siparis %}
                                    {% for urunler in urunler %}
                                        {% if siparis.bayi_id == user.id  %}
                                       {% if siparis.urun_id == urunler.id %}
                                      {% if siparis.STATUS != '0' %}
                                    <tr>
                                        <td class="text-center"><a href="page_ecom_order_view.html"><strong>{{siparis.id}}</strong></a></td>

                                        <td class="text-center visible-lg"><a href="javascript:void(0)">{{siparis.adet}}</a></td>
                                        <td class="hidden-xs">

                                            {%for odem in odeme  %}
                                                {% if odem.bayiler_siparis_id == siparis.id  %}
                                                        {{odem.odeme_turu}}

                                                {%endif%}
                                            {%endfor%}
                                        </td>
                                        <td class="text-right hidden-xs"><strong>{{siparis.miktar}} ₺</strong></td>
                                        {%if siparis.STATUS == '2'%}
                                        <td><span class="label label-success">
                                                    Ödendi
                                            </span></td>
                                        {%elif siparis.STATUS == '1' %}
                                         <td><span class="label label-warning">
                                                    Hazırlanıyor
                                            </span></td>
                                        {%elif siparis.STATUS == '3' %}
                                         <td><span class="label label-success">
                                                    Tamamlandı
                                            </span></td>
                                        {%endif%}

                                        <td class="hidden-xs text-center">{{siparis.tarih}}</td>

                                    </tr>
                                     {% endif %}
                              {% endif %}
                              {% endif %}
                                {% endfor %}
                                 {% endfor %}


                                </tbody>
                            </table>
                            <!-- END All Orders Content -->
                        </div>
 {% endblock %}