
{% extends 'bayi/base.html' %}

{% block body %}
{% load static %}
        <div id="page-wrapper">
            <!-- Preloader -->
            <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
            <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
            <div class="preloader themed-background">
                <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
                <div class="inner">
                    <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                    <div class="preloader-spinner hidden-lt-ie10"></div>
                </div>
            </div>
            <!-- END Preloader -->

            <!-- Page Container -->
            <!-- In the PHP version you can set the following options from inc/config file -->
            <!--
                Available #page-container classes:

                '' (None)                                       for a full main and alternative sidebar hidden by default (> 991px)

                'sidebar-visible-lg'                            for a full main sidebar visible by default (> 991px)
                'sidebar-partial'                               for a partial main sidebar which opens on mouse hover, hidden by default (> 991px)
                'sidebar-partial sidebar-visible-lg'            for a partial main sidebar which opens on mouse hover, visible by default (> 991px)
                'sidebar-mini sidebar-visible-lg-mini'          for a mini main sidebar with a flyout menu, enabled by default (> 991px + Best with static layout)
                'sidebar-mini sidebar-visible-lg'               for a mini main sidebar with a flyout menu, disabled by default (> 991px + Best with static layout)

                'sidebar-alt-visible-lg'                        for a full alternative sidebar visible by default (> 991px)
                'sidebar-alt-partial'                           for a partial alternative sidebar which opens on mouse hover, hidden by default (> 991px)
                'sidebar-alt-partial sidebar-alt-visible-lg'    for a partial alternative sidebar which opens on mouse hover, visible by default (> 991px)

                'sidebar-partial sidebar-alt-partial'           for both sidebars partial which open on mouse hover, hidden by default (> 991px)

                'sidebar-no-animations'                         add this as extra for disabling sidebar animations on large screens (> 991px) - Better performance with heavy pages!

                'style-alt'                                     for an alternative main style (without it: the default style)
                'footer-fixed'                                  for a fixed footer (without it: a static footer)

                'disable-menu-autoscroll'                       add this to disable the main menu auto scrolling when opening a submenu

                'header-fixed-top'                              has to be added only if the class 'navbar-fixed-top' was added on header.navbar
                'header-fixed-bottom'                           has to be added only if the class 'navbar-fixed-bottom' was added on header.navbar

                'enable-cookies'                                enables cookies for remembering active color theme when changed from the sidebar links
            -->

                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- eCommerce Order View Header -->
                                              <!-- END eCommerce Order View Header -->

                        <!-- Order Status -->
                        <div class="row text-center">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <div class="widget-extra themed-background-success">
                                        <h4 class="widget-content-light"><strong>ORD.685195</strong></h4>
                                    </div>
                                    <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15/10/2014</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <div class="widget-extra themed-background-success">
                                        <h4 class="widget-content-light"><i class="fa fa-paypal"></i> <strong>Payment</strong></h4>
                                    </div>
                                    <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-check"></i></span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <div class="widget-extra themed-background-warning">
                                        <h4 class="widget-content-light"><i class="fa fa-archive"></i> <strong>Packaging</strong></h4>
                                    </div>
                                    <div class="widget-extra-full"><span class="h2 text-warning"><i class="fa fa-refresh fa-spin"></i></span></div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <div class="widget-extra themed-background-muted">
                                        <h4 class="widget-content-light"><i class="fa fa-truck"></i> <strong>Delivery</strong></h4>
                                    </div>
                                    <div class="widget-extra-full"><span class="h2 text-muted animation-pulse"><i class="fa fa-ellipsis-h"></i></span></div>
                                </div>
                            </div>
                        </div>
                        <!-- END Order Status -->

                        <!-- Products Block -->
                        <div class="block">
                            <!-- Products Title -->
                            <div class="block-title">
                                <h2><i class="fa fa-shopping-cart"></i> <strong>Products</strong></h2>
                            </div>
                            <!-- END Products Title -->

                            <!-- Products Content -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-vcenter">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 100px;">ID</th>
                                            <th>Product Name</th>
                                            <th class="text-center">Stock</th>
                                            <th class="text-center">QTY</th>
                                            <th class="text-right" style="width: 10%;">UNIT COST</th>
                                            <th class="text-right" style="width: 10%;">PRICE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8715</strong></a></td>
                                            <td><a href="page_ecom_product_edit.html">Xbox One</a></td>
                                            <td class="text-center"><strong>720</strong></td>
                                            <td class="text-center"><strong>1</strong></td>
                                            <td class="text-right"><strong>$399,00</strong></td>
                                            <td class="text-right"><strong>$399,00</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8726</strong></a></td>
                                            <td><a href="page_ecom_product_edit.html">Forza Motorsport 5</a></td>
                                            <td class="text-center"><strong>368</strong></td>
                                            <td class="text-center"><strong>1</strong></td>
                                            <td class="text-right"><strong>$59,00</strong></td>
                                            <td class="text-right"><strong>$59,00</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8760</strong></a></td>
                                            <td><a href="page_ecom_product_edit.html">Playstation 4</a></td>
                                            <td class="text-center"><strong>652</strong></td>
                                            <td class="text-center"><strong>1</strong></td>
                                            <td class="text-right"><strong>$399,00</strong></td>
                                            <td class="text-right"><strong>$399,00</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8728</strong></a></td>
                                            <td><a href="page_ecom_product_edit.html">Killzone: Shadow Fall</a></td>
                                            <td class="text-center"><strong>368</strong></td>
                                            <td class="text-center"><strong>1</strong></td>
                                            <td class="text-right"><strong>$59,00</strong></td>
                                            <td class="text-right"><strong>$59,00</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8763</strong></a></td>
                                            <td><a href="page_ecom_product_edit.html">Little Big Planet 3</a></td>
                                            <td class="text-center"><strong>150</strong></td>
                                            <td class="text-center"><strong>1</strong></td>
                                            <td class="text-right"><strong>$59,00</strong></td>
                                            <td class="text-right"><strong>$59,00</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-right text-uppercase"><strong>Total Price:</strong></td>
                                            <td class="text-right"><strong>$975,00</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-right text-uppercase"><strong>Total Paid:</strong></td>
                                            <td class="text-right"><strong>$975,00</strong></td>
                                        </tr>
                                        <tr class="active">
                                            <td colspan="5" class="text-right text-uppercase"><strong>Total Due:</strong></td>
                                            <td class="text-right"><strong>$0,00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END Products Content -->
                        </div>
                        <!-- END Products Block -->

                        <!-- Addresses -->
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Billing Address Block -->
                                <div class="block">
                                    <!-- Billing Address Title -->
                                    <div class="block-title">
                                        <h2><i class="fa fa-building-o"></i> <strong>Billing</strong> Address</h2>
                                    </div>
                                    <!-- END Billing Address Title -->

                                    <!-- Billing Address Content -->
                                    <h4><strong>Jonathan Taylor</strong></h4>
                                    <address>
                                        Sunset Str 620<br>
                                        Melbourne<br>
                                        Australia, 21-842<br><br>
                                        <i class="fa fa-phone"></i> (999) 852-11111<br>
                                        <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">johnathan.taylor@example.com</a>
                                    </address>
                                    <!-- END Billing Address Content -->
                                </div>
                                <!-- END Billing Address Block -->
                            </div>
                            <div class="col-sm-6">
                                <!-- Shipping Address Block -->
                                <div class="block">
                                    <!-- Shipping Address Title -->
                                    <div class="block-title">
                                        <h2><i class="fa fa-building-o"></i> <strong>Shipping</strong> Address</h2>
                                    </div>
                                    <!-- END Shipping Address Title -->

                                    <!-- Shipping Address Content -->
                                    <h4><strong>Harry Burke</strong></h4>
                                    <address>
                                        Sunset Str 598<br>
                                        Melbourne<br>
                                        Australia, 21-852<br><br>
                                        <i class="fa fa-phone"></i> (999) 852-22222<br>
                                        <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">harry.burke@example.com</a>
                                    </address>
                                    <!-- END Shipping Address Content -->
                                </div>
                                <!-- END Shipping Address Block -->
                            </div>
                        </div>
                        <!-- END Addresses -->

                        <!-- Log Block -->
                        <div class="block">
                            <!-- Log Title -->
                            <div class="block-title">
                                <h2><i class="fa fa-file-text-o"></i> <strong>Log</strong> Messages</h2>
                            </div>
                            <!-- END Log Title -->

                            <!-- Log Content -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-vcenter">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="label label-primary">Order</span>
                                            </td>
                                            <td class="text-center">October 17, 2014 - 12:00</td>
                                            <td><a href="javascript:void(0)">Support</a></td>
                                            <td class="text-success"><i class="fa fa-fw fa-check"></i> <strong>Order Completed</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary">Order</span>
                                            </td>
                                            <td class="text-center">October 17, 2014 - 10:15</td>
                                            <td><a href="javascript:void(0)">Support</a></td>
                                            <td class="text-info"><i class="fa fa-fw fa-info-circle"></i> <strong>Preparing Order</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-success">Payment</span>
                                            </td>
                                            <td class="text-center">October 16, 2014 - 17:15</td>
                                            <td><a href="javascript:void(0)">Harry Burke</a></td>
                                            <td class="text-success"><i class="fa fa-fw fa-check"></i> <strong>Payment Completed</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-danger">Email</span>
                                            </td>
                                            <td class="text-center">October 16, 2014 - 09:10</td>
                                            <td><a href="javascript:void(0)">Support</a></td>
                                            <td class="text-danger"><i class="fa fa-fw fa-exclamation-triangle"></i> <strong>Missing payment details. Email was sent and awaiting for payment before processing</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary">Order</span>
                                            </td>
                                            <td class="text-center">October 15, 2014 - 12:26</td>
                                            <td><a href="javascript:void(0)">Support</a></td>
                                            <td><strong>All products are available</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary">Order</span>
                                            </td>
                                            <td class="text-center">October 15, 2014 - 12:15</td>
                                            <td><a href="javascript:void(0)">Harry Burke</a></td>
                                            <td><strong>Order Submitted</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END Log Content -->
                        </div>
                        <!-- END Log Block -->
                    </div>
                    <!-- END Page Content -->

                    <!-- Footer -->
                    <footer class="clearfix">
                        <div class="pull-right">
                            Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://1.envato.market/ydb" target="_blank">pixelcave</a>
                        </div>
                        <div class="pull-left">
                            <span id="year-copy"></span> &copy; <a href="https://1.envato.market/x4R" target="_blank">ProUI 3.8</a>
                        </div>
                    </footer>
                    <!-- END Footer -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
        <div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
                    </div>
                    <!-- END Modal Header -->

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                            <fieldset>
                                <legend>Vital Info</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Username</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">Admin</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                                    <div class="col-md-8">
                                        <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="admin@example.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-notifications">Email Notifications</label>
                                    <div class="col-md-8">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Password Update</legend>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-password">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Please choose a complex one..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="user-settings-repassword">Confirm New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..and confirm it!">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Modal Body -->
                </div>
            </div>
        </div>
        <!-- END User Settings -->

{% endblock %}