
{% extends 'bayi/base.html' %}

{% block body %}
{% load static %}
        <!-- Page Wrapper -->
 <div id="page-content" style="min-height: 1727px;">
                        <!-- Courses Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="gi gi-book_open"></i>Liftistan <strong>Ürünleri</strong><br><small></small>
                                </h1>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-16">
                                <!-- Courses Content -->
                                <div class="row">
                                    <!-- Course Widget -->



                                    {% for urun in urunler %}
                                    <div class="col-sm-6">
                                        <div class="widget">
                                            <div class="widget-advanced">
                                                <!-- Widget Header -->
                                                <div class="widget-header text-center themed-background-dark-default">
                                                    <img src="{{ urun.urun_resim.url }}"  width="500" height="125">
                                                    <div class="widget-options">
                                                        <button class="btn btn-xs btn-default" data-toggle="tooltip" title="" data-original-title="Love it!"><i class="fa fa-heart text-danger"></i></button>
                                                    </div>
                                                    <h3 class="widget-content-light">

                                                    </h3>
                                                </div>

                                                <div class="widget-main">
                                                    <center><h2>{{ urun.urun_adi }}</h2></center>

                                                    </a>
                                                    <a href="page_ready_elearning_course_lessons.html" class="btn btn-sm btn-default pull-right">
                                                        Sepete Ekle
                                                    </a>
                                                    <a href="page_ready_elearning_course_lessons.html" class="btn btn-sm btn-success">{{urun.fiyat}} TL</a>
                                                </div>
                                                <!-- END Widget Main -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Course Widget -->
                                    {% endfor %}




                                                <!-- END Widget Main -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Course Widget -->
                                </div>
                                <!-- END Courses Content -->
                            </div>
                            <div class="col-md-4">
                                <!-- Navigation Tabs -->

                                <!-- END Navigation Tabs -->


                                <!-- Most Viewed Courses Block -->

                                <!-- END Most Viewed Courses Block -->
                            </div>
                        </div>
                        <!-- END Main Row -->
                    </div>
        <!-- END User Settings -->
{% endblock %}