{% load static %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">


        <title>Liftistan  </title>
        <title>Bayi Girişi</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{% static 'bayi/img/favicon.png ' %}">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon57.png ' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon72.png ' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon76.png ' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon114.png ' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon120.png ' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon144.png ' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon152.png ' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'bayi/img/icon180.png ' %}" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{% static 'bayi/css/bootstrap.min.css ' %}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'bayi/css/plugins.css ' %}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'bayi/css/main.css ' %}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'bayi/themes.css ' %}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'bayi/js/vendor/modernizr.min.js' %}"></script>
    </head>

    <body>
        <!-- Login Full Background -->
        <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
        <img src="{% static 'bayi/img/placeholders/backgrounds/login_full_bg.jpg' %}" alt="Login Full Background" class="full-bg animation-pulseSlow">
        <!-- END Login Full Background -->

        <!-- Login Container -->
        <div id="login-container" class="animation-fadeIn">
            <!-- Login Title -->
            <div class="login-title text-center">
<img src=" {% static 'bayi/img/logoliftistan.jpg' %}" >
            </div>
            <!-- END Login Title -->

            <!-- Login Block -->
            <div class="block push-bit">
                <!-- Login Form -->
                <form action="../singup/" method="post"  class="form-horizontal form-bordered form-control-borderless">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" id="login" name="username" class="form-control input-lg" placeholder="Kullanıcı adı">
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" id="isim" name="isim" class="form-control input-lg" placeholder="İsim">
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" id="soyisim" name="soyisim" class="form-control input-lg" placeholder="Soyisim">
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" id="login-email" name="email" class="form-control input-lg" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="login-password" name="password" class="form-control input-lg" placeholder="Sifre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="password" name="password_check" class="form-control input-lg" placeholder="Sifre">
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-xs-4">
                            <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
                                <input type="checkbox" id="login-remember-me" name="login-remember-me" checked>
                                <span></span>
                            </label>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Bayi Giriş</button>
                        </div>
                    </div>
                    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <a href="javascript:void(0)" id="link-register-login"><small>Yeni Hesap Oluştur</small></a>
                        </div>
                    </div>
                </form>
                <!-- END Login Form -->


        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'bayi/js/vendor/jquery.min.js'%} "></script>
        <script src="{% static 'bayi/js/vendor/bootstrap.min.js '%}"></script>
        <script src="{% static 'bayi/js/plugins.js '%} "></script>
        <script src="{% static 'bayi/js/app.js '%} "></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src= "{% static 'js/pages/login.js '%} "></script>
        <script>$(function(){ Login.init(); });</script>
    </body>
</html>